h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #0e2b40;
    font-size: 34px;
}
p {
    font-family: "Abel", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

embed {
    width: 100%;
}
body {
    background-image: url("../img/Babel.png");
    background-size: 100% auto;
    background-repeat: repeat-y;

    top: 0px;
    bottom: 0px;
}
header {
    margin-top: 20%;
}

div {
    margin-left: 40%;
}
