h1
{
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: #0e2b40;
}
p
{
	font-family: 'Abel', sans-serif;
	text-align: justify;
	font-weight: bold;

}
embed 
{
	width:100%;
}
body
{
	background-image: url("../img/familia_loki.png");
	background-size: 100%;
}

header > img
{
	width: 21%;
}
