h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #0e2b40;
    font-size: 34px;
}
p {
    font-family: "Abel", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

embed {
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../img/Babel.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
header {
    margin-top: 20%;
}
